In [51]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

df = pd.read_excel("data/raw/Adidas US Sales Datasets.xlsx")
print(df.head())
print(df.tail())

   Unnamed: 0   Unnamed: 1             Unnamed: 2           Unnamed: 3  \
0         NaN          NaN  Adidas Sales Database                  NaN
1         NaN          NaN                    NaN                  NaN
2         NaN          NaN                    NaN                  NaN
3         NaN     Retailer            Retailer ID         Invoice Date
4         NaN  Foot Locker                1185732  2020-01-01 00:00:00

  Unnamed: 4 Unnamed: 5 Unnamed: 6             Unnamed: 7      Unnamed: 8  \
0        NaN        NaN        NaN                    NaN             NaN
1        NaN        NaN        NaN                    NaN             NaN
2        NaN        NaN        NaN                    NaN             NaN
3     Region      State       City                Product  Price per Unit
4  Northeast   New York   New York  Men's Street Footwear              50

   Unnamed: 9  Unnamed: 10       Unnamed: 11       Unnamed: 12   Unnamed: 13
0         NaN          NaN               NaN               NaN           NaN
1         NaN          NaN               NaN               NaN           NaN
2         NaN          NaN               NaN               NaN           NaN
3  Units Sold  Total Sales  Operating Profit  Operating Margin  Sales Method
4        1200       600000            300000               0.5      In-store
      Unnamed: 0   Unnamed: 1 Unnamed: 2           Unnamed: 3 Unnamed: 4  \
9647         NaN  Foot Locker    1185732  2021-01-24 00:00:00  Northeast
9648         NaN  Foot Locker    1185732  2021-01-24 00:00:00  Northeast
9649         NaN  Foot Locker    1185732  2021-02-22 00:00:00  Northeast
9650         NaN  Foot Locker    1185732  2021-02-22 00:00:00  Northeast
9651         NaN  Foot Locker    1185732  2021-02-22 00:00:00  Northeast

         Unnamed: 5  Unnamed: 6               Unnamed: 7 Unnamed: 8  \
9647  New Hampshire  Manchester            Men's Apparel         50
9648  New Hampshire  Manchester          Women's Apparel         41
9649  New Hampshire  Manchester    Men's Street Footwear         41
9650  New Hampshire  Manchester  Men's Athletic Footwear         42
9651  New Hampshire  Manchester  Women's Street Footwear         29

     Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13
9647         64        3200       896.0        0.28      Outlet
9648        105        4305      1377.6        0.32      Outlet
9649        184        7544     2791.28        0.37      Outlet
9650         70        2940      1234.8        0.42      Outlet
9651         83        2407      649.89        0.27      Outlet

In [52]:
print('Shape:\n', df.shape, '\n')
print('Columns:\n', df.columns, '\n')
print('Info:\n', df.info(), '\n')
print('Describe:\n', df.describe(), '\n')
print('Nulls:\n', df.isna().sum(), '\n')
print('Duplicates:\n', df.duplicated().sum(), '\n')

Shape:
 (9652, 14)

Columns:
 Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9652 entries, 0 to 9651
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   0 non-null      float64
 1   Unnamed: 1   9649 non-null   object
 2   Unnamed: 2   9650 non-null   object
 3   Unnamed: 3   9649 non-null   object
 4   Unnamed: 4   9649 non-null   object
 5   Unnamed: 5   9649 non-null   object
 6   Unnamed: 6   9649 non-null   object
 7   Unnamed: 7   9649 non-null   object
 8   Unnamed: 8   9649 non-null   object
 9   Unnamed: 9   9649 non-null   object
 10  Unnamed: 10  9649 non-null   object
 11  Unnamed: 11  9649 non-null   object
 12  Unnamed: 12  9649 non-null   object
 13  Unnamed: 13  9649 non-null   object
dtypes: float64(1), object(13)
memory usage: 1.0+ MB
Info:
 None

Describe:
        Unnamed: 0
count         0.0
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN

Nulls:
 Unnamed: 0     9652
Unnamed: 1        3
Unnamed: 2        2
Unnamed: 3        3
Unnamed: 4        3
Unnamed: 5        3
Unnamed: 6        3
Unnamed: 7        3
Unnamed: 8        3
Unnamed: 9        3
Unnamed: 10       3
Unnamed: 11       3
Unnamed: 12       3
Unnamed: 13       3
dtype: int64

Duplicates:
 1

In [53]:
df_raw = pd.read_excel("data/raw/Adidas US Sales Datasets.xlsx")

df = df_raw.drop(index=[0,1,2]).reset_index(drop=True)

df.columns = df.iloc[0]
df = df[1:].reset_index(drop=True)
df = df.drop(df.columns[0], axis=1)

print('Shape:\n', df.shape, '\n')
print('Columns:\n', df.columns, '\n')
print('Info:\n', df.info(), '\n')
print('Describe:\n', df.describe(), '\n')
print('Nulls:\n', df.isna().sum(), '\n')
print('Duplicates:\n', df.duplicated().sum(), '\n')

Shape:
 (9648, 13)

Columns:
 Index(['Retailer', 'Retailer ID', 'Invoice Date', 'Region', 'State', 'City',
       'Product', 'Price per Unit', 'Units Sold', 'Total Sales',
       'Operating Profit', 'Operating Margin', 'Sales Method'],
      dtype='object', name=0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9648 non-null   object
 1   Retailer ID       9648 non-null   object
 2   Invoice Date      9648 non-null   object
 3   Region            9648 non-null   object
 4   State             9648 non-null   object
 5   City              9648 non-null   object
 6   Product           9648 non-null   object
 7   Price per Unit    9648 non-null   object
 8   Units Sold        9648 non-null   object
 9   Total Sales       9648 non-null   object
 10  Operating Profit  9648 non-null   object
 11  Operating Margin  9648 non-null   object
 12  Sales Method      9648 non-null   object
dtypes: object(13)
memory usage: 980.0+ KB
Info:
 None

Describe:
 0          Retailer  Retailer ID         Invoice Date Region       State  \
count          9648         9648                 9648   9648        9648
unique            6            4                  724      5          50
top     Foot Locker      1185732  2021-01-17 00:00:00   West  California
freq           2637         5265                   77   2448         432

0           City                Product  Price per Unit  Units Sold  \
count       9648                   9648            9648        9648
unique        52                      6             146         361
top     Portland  Men's Street Footwear              50         225
freq         360                   1610             557         207

0       Total Sales  Operating Profit  Operating Margin Sales Method
count          9648              9648           9648.00         9648
unique         3512              6510            127.00            3
top          100000             21000              0.35       Online
freq             52                34           1229.00         4889

Nulls:
 0
Retailer            0
Retailer ID         0
Invoice Date        0
Region              0
State               0
City                0
Product             0
Price per Unit      0
Units Sold          0
Total Sales         0
Operating Profit    0
Operating Margin    0
Sales Method        0
dtype: int64

Duplicates:
 0

/var/folders/h9/78d8y54s1094rhy0vxgr6w400000gn/T/ipykernel_30216/3635571694.py:12: FutureWarning: The behavior of value_counts with object-dtype is deprecated. In a future version, this will *not* perform dtype inference on the resulting index. To retain the old behavior, use `result.index = result.index.infer_objects()`
  print('Describe:\n', df.describe(), '\n')

In [54]:
#Converting appropriate columns to numeric type
numeric_cols = ['Price per Unit', 'Units Sold', 'Total Sales', 'Operating Profit', 'Operating Margin']
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric)

#Converting invoice date to datetime type
df['Invoice Date'] = pd.to_datetime(df['Invoice Date'])

#Saving the cleaned dataset to data/interim
df.to_excel("data/interim/adidas_sales_cleaned.xlsx", index=False)

df['Retailer'].value_counts()

Retailer
Foot Locker      2637
West Gear        2374
Sports Direct    2032
Kohl's           1030
Amazon            949
Walmart           626
Name: count, dtype: int64

In [55]:
df['Region'].value_counts()

Region
West         2448
Northeast    2376
Midwest      1872
South        1728
Southeast    1224
Name: count, dtype: int64